<!DOCTYPE html>
<html>
<head>
  <title>Kiranadd</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  


</head>
<body bgcolor="green">
<center><h1><font color ="blue">Welcome To Address Book</font></h1></center>
<center><%=image_tag "Book.png"%><%=image_tag "Book.png"%><%=image_tag "Book.png"%></center>

<%= yield %>

</body>
</html>
